@media (min-width:1024px){
    .envoltura{
        background-color: rgb(21, 49, 77);
        
       

    }
    .envolturacontacto{
        background-color: rgb(21, 49, 77);
        
    }
     .envolturagaleria{
        background-color: rgb(21, 49, 77);
        
    }
    .envolturahistoria{
        background-color: rgb(21, 49, 77);
        
    }
    .envolturaservicios{
        background-color: rgb(21, 49, 77);
        
    }
    .galeria{
        background-color: rgba(86, 125, 158, 0.952);
    }
    .galeriafotos{
        background-color: rgba(86, 125, 158, 0.952);

    }
    img{
        width: 450px;
        height: 400px;
        margin-top: 18px;
    }
    iframe{
        width: 450px;
        height: 400px;
        margin-top: 18px;
    }

   

}